<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Malticulture Links</title>
    <link rel="stylesheet" href="/malti_styles_new.css">
</head>

<body>
    <header class="header-bar">
        <img class="picto-banner" src="/images/banner_malti_only_picto.png" alt="A nice malticulture banner">
    </header>
    <!-- header ends here -->

    <div class="main-container">


        <div class="features">
            <p class="brand">Vous buvez une: <span><%= data.beer_name %></span> de la brasserie
                <span><%= data.brewery_name %></span>, à <span><%= data.production_location %></span></p>
        </div>

        <div class="beer-description">
            <div class="banner">Description de la bière</div>
            <p class="beer-text"><%= data.beer_description %></p>
        </div>

        <div class="brewery-description">
            <div class="banner">Description de la brasserie</div>
            <p class="brewery-text"><%= data.brewery_description %></p>
            <div class="website">- <a href="<%= data.brewery_website %>"><%= data.brewery_website %></a> -</div>
        </div>

        <div class="farmer-description">
            <div class="banner">Agriculteur(s)</div>
            <p class="field-text"><%= data.farmer_description %></p>
            <div class="website">- <a href="<%= data.farmer_website %>"><%= data.farmer_website %></a> -</div>
        </div>

    </div>

    <!-- footer begins -->
    <footer>
        <img class="picto-banner" src="/images/banner_malti_only_picto.png" alt="A nice malticulture banner">
        <div class="copyright">
            <p class="footer-p">Copyright &copy; 2021 <a href="https://www.malticulture.ch"
                    class="text-muted">Malticulture</a>. All rights reserved.</p>
        </div>
    </footer>

</body>

</html>